<!doctype html>
<html lang="en" ng-app="SlidesApp">

	<head>
		<meta charset="utf-8">

		<title>Angular Material</title>

		<meta name="description" content="An overview of Angular Material">
		<meta name="author" content="Maureen Botoman">

		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/white.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body ng-controller="AppCtrl">

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section style="color:white;" data-background="https://c2.staticflickr.com/4/3735/8775428119_df56a550d0_b.jpg">
					<h2 style="color:white;" >Intro to Angular Material</h2>
					<p>
						<small>Created by <a href="http://maureen.codes">Maureen Botoman</a> / <a href="http://twitter.com/maureencodes">@maureencodes</a></small>
						<small><a href="https://github.com/mkbotoman/angular-material-talk">https://github.com/mkbotoman/angular-material-talk</a></small>
					</p>
				</section>

				<section data-background="http://www.img.lirent.net/2014/10/Android-Lollipop-wallpapers-Wall1.png">
					<h2 style="color:white; margin-top:-200px;">What is Angular Material?</h2>
					<p style="color:white;">
						"The Angular Material project is an implementation of Material Design in Angular.js."
					</p>
				</section>

				<!-- Example of nested vertical slides -->
				<section>
					<section data-background="http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7QTA5cHFBUlV3RTA/materialdesign_goals_language.png">
						<h2 style="text-align:left; width: 500px; color: white;">Material Design Practices</h2>
						<br>
					</section>
					<section>
						<h2>The Basic Principles</h2>
						<img width="278" src="http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7VG9DQVluOFJ4Tnc/materialdesign_principles_metaphor.png" />
						<img width="278" src="http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7NndTQW9VZTlZV2s/materialdesign_principles_bold.png" />
						<img width="278" src="http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7dkRYelJkeklqWFU/materialdesign_principles_motion.png" />
					</section>
					<section data-background="http://material-design.storage.googleapis.com/publish/material_v_4/material_ext_publish/0Bx4BSt6jniD7UXpQYWltVjNPWXc/whatismaterial_environment_3d.png">
					</section>
				</section>

				<section>
					<section data-background="http://1.bp.blogspot.com/-axnsSkyuwfo/VS9NPp6LScI/AAAAAAAANGc/xI3mWEzoVGI/s1600/G%2B4%2BColors.png">
						<h2 style="color:white; margin-left:-200px;">The Setup</h2>
						<p style="margin-left:-200px;">
							<a href="https://material.angularjs.org/latest/#/getting-started" target="_blank">Angular Material Docs</a>
						</p>
					</section>
					<section>
						<div layout="row" layout-wrap style="color:white;">
						  <div style="background:#9C27B0;" flex="33" >
						    [flex="33"]
						  </div>
						  <div style="background:#3F51B5;" flex="55">
						    [flex="55"]
						  </div>
						  <div style="background:#009688;" flex>
						    [flex]
						  </div>
						</div>
						<div>
							<pre><code data-trim contenteditable class="html">
<div layout="row" layout-wrap>
	<div flex="33">
	  [flex="33"]
	</div>
	<div flex="55">
	  [flex="55"]
	</div>
	<div flex>
	  [flex]
	</div>
</div>
							</code></pre>
				    </div>
						</code></pre>
					</section>
					<section>
						<div layout="row" layout-margin style="color:white;">
						  <div style="background:#9C27B0;" flex flex-order="3">
						    [flex-order="3"]
						  </div>
						  <div style="background:#3F51B5;" flex flex-order="2">
						    [flex-order="2"]
						  </div>
						  <div style="background:#009688;" flex flex-order="1">
						    [flex-order="1"]
						  </div>
						</div>
						<pre><code data-trim contenteditable class="html">
<div layout="row" layout-margin>
	<div flex flex-order="3">
		[flex-order="3"]
	</div>
	<div flex flex-order="2">
		[flex-order="2"]
	</div>
	<div flex flex-order="1">
		[flex-order="1"]
	</div>
</div>
						</code></pre>
					</section>
					<section data-background="https://cloud.githubusercontent.com/assets/210413/4816236/bf7783dc-5edd-11e4-88ef-1f8b6e87e1d7.png">
					</section>
					<section>
						<div>
							<h3>Configuring a theme</h3>
						</div>
						<pre><code data-trim contenteditable class="javascript">
angular.module('myApp', ['ngMaterial'])
.config(function($mdThemingProvider) {
  $mdThemingProvider.theme('default')
    .primaryPalette('pink')
    .accentPalette('orange');
});
						</code></pre>
					</section>
				</section>
				<section>
					<section data-background="https://lh4.googleusercontent.com/-c2kWlW-DE9A/VMSgQjCdffI/AAAAAAAADy4/tB__iZ25nxQ/w1080-h600/atardecer8.png">
						<h1 style="color:white;">Layout Tools</h1>
					</section>
					<section>
						<md-toolbar md-scroll-shrink>
					    <div class="md-toolbar-tools">
					      <h3>
					        <span style="color:white;">Toolbars and Side Navs</span>
					      </h3>
					    </div>
					  </md-toolbar>
						<md-sidenav md-component-id="left" class="md-sidenav-left" >
					    Left Nav!
					  </md-sidenav>
					  <md-content class="md-primary">
					    <md-button class="md-primary md-hue-1" ng-click="openLeftMenu()">
					      Open Left Menu
					    </md-button>
							<br><br>
					  </md-content>
						<div>
							<pre><code data-trim contenteditable class="html">
<md-toolbar md-scroll-shrink>
	<div class="md-toolbar-tools">
		<h3>
			<span style="color:white;">Toolbars and Side Navs</span>
		</h3>
	</div>
</md-toolbar>
<md-sidenav md-component-id="left" class="md-sidenav-left" >
	Left Nav!
</md-sidenav>
<md-content class="md-primary">
	<md-button class="md-primary md-hue-1" ng-click="openLeftMenu()">
		Open Left Menu
	</md-button>
</md-content>
							</code></pre>
				    </div>
					</section>
					<section>
						<h2>Grids</h2>
						<md-grid-list md-cols="5" md-gutter=".5em" md-row-height="4:3" style="color:white;">
						  <md-grid-tile style="background: #9C27B0;">1</md-grid-tile>
							<md-grid-tile style="background: #3F51B5;">2</md-grid-tile>
							<md-grid-tile style="background: #009688;">3</md-grid-tile>
							<md-grid-tile style="background: #8BC34A;">4</md-grid-tile>
							<md-grid-tile style="background: #9C27B0;">5</md-grid-tile>
							<md-grid-tile style="background: #3F51B5;">6</md-grid-tile>
							<md-grid-tile style="background: #009688;">7</md-grid-tile>
						</md-grid-list>
						<pre><code data-trim contenteditable class="html">
<md-grid-list md-cols="5" md-gutter="1em" md-row-height="4:3">
  <md-grid-tile></md-grid-tile>
</md-grid-list>
						</code></pre>
					</section>
				</section>
				<section>
					<section data-background="http://cdn.bgr.com/2014/12/ultimate-material-lollipop-collection-66.png">
						<h1 style="color:white; padding-top:400px;">The Directives</h1>
					</section>
					<section>
						<h1>Buttons!</h1>
						<div>
							<md-button class="md-primary">Click me</md-button>
							<md-button class="md-accent">or maybe me</md-button>
							<md-button class="md-warn">Careful</md-button>
				    </div>
				    <div>
							<pre><code data-trim contenteditable>
<md-button class="md-primary">Click me</md-button>
<md-button class="md-accent">or maybe me</md-button>
<md-button class="md-warn">Careful</md-button>
							</code></pre>
				    </div>
					</section>
					<section>
						<h1>Inputs</h1>
						<div>
					    <form name="projectForm">
					      <md-input-container>
					        <label>Description</label>
					        <input name="description">
					      </md-input-container>
								<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
						    	Checkbox 1: {{ data.cb1 }}
						  	</md-checkbox>
							</form>
				    </div>
				    <div>
							<pre><code data-trim contenteditable class="html">
<md-input-container>
<label>Description</label>
<input name="description">
	<md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
		Checkbox 1: {{ data.cb1 }}
	</md-checkbox>
</md-input-container>
							</code></pre>
				    </div>
					</section>
					<section>
						<h1>Inputs, Part 2</h1>
						<div>
							<md-content layout-padding>
						    <form name="projectForm">
									<md-radio-group ng-model="data.group1" style="text-align: left;">
										<md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
										<md-radio-button value="Banana"> Banana </md-radio-button>
										<md-radio-button value="Mango">Mango</md-radio-button>
									</md-radio-group>
								</form>
				    </div>
				    <div>
							<pre><code data-trim contenteditable class="html">
<md-radio-group ng-model="data.group1">
	<md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
	<md-radio-button value="Banana">Banana</md-radio-button>
	<md-radio-button value="Mango">Mango</md-radio-button>
</md-radio-group>
							</code></pre>
				    </div>
					</section>
					<section>
						<h2>Switches</h2>
						<md-switch ng-model="isActive" aria-label="Finished?">
						  Finished ?
						</md-switch>
						<md-switch md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
						  No Ink Effects
						</md-switch>
						<md-switch ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
						  Disabled
						</md-switch>
						<pre><code data-trim contenteditable class="html">
<md-switch ng-model="isActive" aria-label="Finished?">
	Finished ?
</md-switch>
<md-switch md-no-ink ng-model="hasInk" aria-label="No Ink Effects">
	No Ink Effects
</md-switch>
<md-switch ng-disabled="true" ng-model="isDisabled" aria-label="Disabled">
	Disabled
</md-switch>
						</code></pre>
					</section>
					<section>
						<h2>Progress Indicators</h2>
						<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular><br>
						<md-progress-linear md-mode="indeterminate"></md-progress-linear><br>
					  <md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}"></md-progress-linear>
						<div>
							<pre><code data-trim contenteditable class="html">
<md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular><br>
<md-progress-linear md-mode="indeterminate"></md-progress-linear><br>
<md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}"></md-progress-linear>
							</code></pre>
				    </div>
					</section>
				</section>
				<section>
					<section data-background="http://widewallpapers.co/wp-content/uploads/2015/06/flat-material-design-google-wallpaper.jpg">
						<h2 style="color:white;">The Services</h2>
					</section>
					<section>
						<md-button ng-click="openBottomSheet()">
					    Open a Bottom Sheet!
					  </md-button>
						<pre><code data-trim contenteditable class="html">
<md-button ng-click="openBottomSheet()">
	Open a Bottom Sheet!
</md-button>
						</code></pre>
						<pre><code data-trim contenteditable class="javascript">
$scope.openBottomSheet = function() {
  $mdBottomSheet.show({
    template: '<md-bottom-sheet>Hello!</md-bottom-sheet>'
})};
						</code></pre>
					</section>
					<section>
						<div>
					    <md-button ng-click="showAlert()" class="md-raised md-warn">
					      Employee Alert!
					    </md-button>
					  </div>
						<pre><code data-trim contenteditable class="html">
<md-button ng-click="showAlert()" class="md-raised md-warn">
  Employee Alert!
</md-button>
						</code></pre>
						<pre><code data-trim contenteditable class="javascript">
var alert;
$scope.showAlert = showAlert;

function showAlert() {
		alert = $mdDialog.alert({
			title: 'Attention',
			content: 'This is an example of how easy dialogs can be!',
			ok: 'Close'
		});
		$mdDialog
			.show( alert )
			.finally(function() {
				alert = undefined;
			});
	}
						</code></pre>
					</section>
					<section>
						<div>
							<md-button ng-click="openToast()">
							  Open a Toast!
							</md-button>
					  </div>
						<pre><code data-trim contenteditable class="html">
<md-button ng-click="openToast()">
  Open a Toast!
</md-button>
						</code></pre>
						<pre><code data-trim contenteditable class="javascript">
$scope.openToast = function($event) {
  $mdToast.show($mdToast.simple().content('Hello!'));
  // Could also do $mdToast.showSimple('Hello');
};
						</code></pre>
					</section>
				</section>
				<section data-background="http://i.imgur.com/bweycpz.png">
					<h2 style="color:white; margin-top:-150px;">The End</h2>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

		<script src="js/material-controller.js"></script>
		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
